 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Team</h2>
                </div>
            </div>


				<div class='row'>
					<div class='member-profile col-sm-3'>
						<div class='img-container row'>
							<div class='member-img changwonkeum'></div>
						</div>
						<div class='row member-name'>Changwon Keum</div>
						<div class='row member-role'>CEO, Product & Engineering</div>
						<ul class='list-inline member-links'>

							<li>
								<a href='mailto:ckeum@3billion.io' class="btn-social btn-outline">
									<i class="fa  fa-envelope-o"></i>
								</a>
							</li>

							<li>
								<a class="btn-social  btn-outline" href='http://goldbio.blogspot.com'>
									<i class="fa fa-fw fa-rss"></i>
								</a>
							</li>
	
							<!--li>
								<a href='https://www.facebook.com/changwon.keum.5' class="btn-social btn-outline">
									<i class="fa fa-facebook"></i>
								</a>
							</li-->
							<li>
								<a class="btn-social btn-outline" href='https://kr.linkedin.com/in/changwon-keum-91516671'>
									<i class="fa fa-fw fa-linkedin"></i>
								</a>
							</li>
						</ul>
					</div>
					<div class='member-profile col-sm-3'>
						<div class='img-container row'>
							<div class='member-img sehwankim'>
							</div>
						</div>
						<div class='row member-name'>Sehwan Kim</div>
						<div class='row member-role'>Cofounder, Engineering</div>
						<ul class='list-inline member-links'>
							
							<li>
								<a href='mailto:kai@3billion.io' class="btn-social btn-outline">
									<i class="fa  fa-envelope-o"></i>
								</a>
							</li>
	
							<!--li>
								<a class="btn-social  btn-outline" href='https://www.facebook.com/profile.php?id=1262035989'>
									<i class="fa fa-fw fa-facebook"></i>
								</a>
							</li-->
							<li>
								<a href='https://www.linkedin.com/in/sehwan-kim-6bb31629' class="btn-social btn-outline">
									<i class="fa fa-fw fa-linkedin"></i>
								</a>
							</li>
						</ul>
					</div>


					<div class='member-profile col-sm-3'>
						<div class='img-container row'>
							<div class='member-img doohyunpark'></div>
						</div>
						<div class='row member-name'>DH Park</div>
						<div class='row member-role'>Cofounder, Marketing & Sales</div>
						<ul class='list-inline member-links'>
							<li>
								<a href='mailto:dhpark@3billion.io' class="btn-social btn-outline">
									<i class="fa  fa-envelope-o"></i>
								</a>
							</li>
					
							<!--li>
								<a class="btn-social btn-outline" href='https://www.facebook.com/dpark88'>
									<i class="fa fa-fw fa-facebook"></i>
								</a>
							</li-->
							<li>
								<a class="btn-social btn-outline" href='https://www.linkedin.com/in/doohyun-park-60406741'>
									<i class="fa fa-fw fa-linkedin"></i>
								</a>
							</li>
						</ul>
					</div>


					<div class='member-profile col-sm-3'>
						<div class='img-container row'>
							<div class='member-img jiwonhur'></div>
						</div>
						<div class='row member-name'>Jiwon Hur</div>
						<div class='row member-role'>Chief designer, Product &  UI/UX</div>
						<ul class='list-inline member-links'>
							<li>
								<a href='mailto:jiwon@3billion.io' class="btn-social btn-outline">
									<i class="fa  fa-envelope-o"></i>
								</a>
							</li>
							<li>
								<a class="btn-social btn-outline" href='https://www.linkedin.com/in/huhjiwon'>
									<i class="fa fa-fw fa-linkedin"></i>
								</a>
							</li>
						</ul>
					</div>


				

				</div>

			   <div class="row advisors-title">
                <div class="col-lg-12 text-center">
                    <h2>Advisors</h2>
                </div>
            </div>


				<div class='row'>
					<div class='member-profile col-sm-4'>
						<div class='img-container row'>
							<div class='member-img jameslee'></div>
						</div>
						<div class='row member-name'>James Jungkue Lee</div>
						<div class='row member-role'>CEO, Bridge biotherapeutics</div>
						<ul class='list-inline member-links'>
							<li>
								<a href='https://www.facebook.com/jamesjungkue.lee' class="btn-social btn-outline">
									<i class="fa fa-fw fa-facebook"></i>
								</a>
							</li>
							<li>
								<a class="btn-social btn-outline" href='https://kr.linkedin.com/in/james-jungkue-lee-42a5a517'>
									<i class="fa fa-fw fa-linkedin"></i>
								</a>
							</li>
						</ul>
					</div>
					<div class='member-profile col-sm-4'>
						<div class='img-container row'>
							<div class='member-img yoonsupchoi'>
							</div>
						</div>
						<div class='row member-name'>Yoon Sup Choi</div>
						<div class='row member-role'>Managing Partner, DHP</div>
						<ul class='list-inline member-links'>

							<li>
								<a class="btn-social  btn-outline" href='http://www.yoonsupchoi.com'>
									<i class="fa fa-fw fa-rss"></i>
								</a>
							</li>
							<li>
								<a href='https://www.linkedin.com/in/yoonsupchoi' class="btn-social btn-outline">
									<i class="fa fa-fw fa-linkedin"></i>
								</a>
							</li>
							<li>
								<a class="btn-social  btn-outline" href='https://www.facebook.com/yoonsup.choi'>
									<i class="fa fa-fw fa-facebook"></i>
								</a>
							</li>

						</ul>
					</div>


					<div class='member-profile col-sm-4'>
						<div class='img-container row'>
							<div class='member-img junghoonwoo'></div>
						</div>
						<div class='row member-name'>Junghoon Woo</div>
						<div class='row member-role'>Manager, KPMG US</div>
						<ul class='list-inline member-links'>

							<li>
								<a class="btn-social  btn-outline" href='http://geference.blogspot.kr'>
									<i class="fa fa-fw fa-rss"></i>
								</a>
							</li>
							<li>
								<a class="btn-social btn-outline" href='https://www.linkedin.com/in/junghoonwoo'>
									<i class="fa fa-fw fa-linkedin"></i>
								</a>
							</li>
							<li>
								<a class="btn-social btn-outline" href='https://www.facebook.com/junghoon.woo.90'>
									<i class="fa fa-fw fa-facebook"></i>
								</a>
							</li>

						</ul>
					</div>




				</div>
          
        </div>
    </section>




	 
