    <!-- Header -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-text">
                        <span class="name">{{ site.title }}</span>
                        <!--hr class="star-light"-->
                        <span class="skills">{{ site.skills }}</span>
                    </div>
					 </div>
				</div>
				<div class='row'>
					 <div class='col-lg-6 col-lg-push-3'>
						  <div class='tester_recruite'>
							We are currently looking for proactive rare disease patients to beta-test our service! If you are interested in learning more about your conditions through genome sequencing, please send a brief email to <a href='mailto:dhpark@3billion.io'>dhpark@3billion.io</a>

						  </div>
                </div>
            </div>
        </div>
    </header>
