
    <!-- Portfolio Grid Section -->
    <section id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Product</h2>
                </div>
            </div>

				
				<div class='row'>
					<h3 class='section-title'>Rare disease screening</h3>
					<p>
					More than 7000 rare diseases affect one in 20 people in the world. 80% of rare diseases were caused by genetic mutations. 3billon provides comprehensive rare disease screening service for both hospital and patients. Our service comprises around 4,000 rare diseases. Check out 4,000 rare diseases with one simple test.
					</p>
					<p>
					Rare disease screening service would be ready in early 2017.
					</p>

					<h3 class='section-title'>Technology</h3>

					<h4 class='sub-title'>Whole genome/exome sequencing</h4>
					<p>
					Whole genome sequencing decodes all 3 billion DNA bases while whole exome sequencing decodes every gene  comprising 1.5% of the human genome. We provide  both whole genome sequencing( WGS ) and whole exome sequencing( WES ) with decent price for close relationship with Macrogen, a world leading sequencing service provider.

					</p>

					<h4 class='sub-title'>Bioinformatics</h4>
					<p>
					3billion consists of top level bioinformaticians. 3billion engineers developed more than 10 genetic diagnostics and DTC genetics services. The exceptional expertise of bioinformatics engineering backups the technology behind our products.
					</p>

					<h4 class='sub-title'>Machine learning and deep learning </h4>
					<p>
					Machine learning is a key technology in extracting knowledge from big genome data. 3billion applies cutting-edge machine learning technology including deep learing to analyze and interprete genomes. 
					
					</p>


					

				</div>

		

            <!--div class="row">
                {% for post in site.posts %}
                    <div class="col-sm-4 portfolio-item">
                        <a href="#portfolioModal-{{ post.modal-id }}" class="portfolio-link" data-toggle="modal">
                            <div class="caption">
                                <div class="caption-content">
                                    <i class="fa fa-search-plus fa-3x"></i>
                                </div>
                            </div>
                            <img src="img/portfolio/{{ post.img }}" class="img-responsive" alt="{{ post.alt }}">
                        </a>
                    </div>
                {% endfor %}
            </div-->
        </div>
    </section>
